@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
}

header,
footer {
    font-family: "Oswald", sans-serif;
    background-color: #102542;
    opacity: .9;
}


nav a {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #D7D9D7;
    color: #102542;
}


/* Ham button */
.navigation {
    display: none;
}

#menu::before {
    content: "=";
}

#menu {
    font-size: 2rem;
    background-color: #102542;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: .25rem 2vw;
}

.navigation a {
    padding: .75rem 2vw;
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    background-color: #D7D9D7;
    color: #102542;
}

#menu.open::before {
    content: "x";
}

.navigation.open {
    display: block;
}

/* Hero */
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-box img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 200px;
}

.join {
    background-color: #D7816A;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 100px;
    margin-left: 150px;
    border-radius: 5px;
    align-items: center;
}

.join:hover {
    background-color: #55828B;
}

/* Home-Grid */
.events,
.weather-card,
.company-spotlights {
    background-color: #D7D9D7;
    margin: 20px;
    padding: 10px;
    border: .2rem solid #55828B;
}

.events h2,
.weather-card h2,
.company-spotlights h2 {
    font-family: "Oswald", sans-serif;
    padding-bottom: 5px;
}

.company-spotlights .spotlight {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

/* Footer */

footer {
    color: white;
    font-size: 14px;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* discover page */
.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* sidebar content */
.sidebar {
    background-color: #f4f4f4;
    padding: 20px;
}

.sidebar h2 {
    font-family: "Oswald", sans-serif;
    padding-bottom: 15px;
}

.sidebar h3 {
    border-bottom: solid #55828B 5px;
}

.sidebar p {
    padding: 20px;
    font-size: 15px;
}

/* load */
#load {
    background-color: #102542;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

/* main content */
.main-content {
    padding: 20px;
}

.photos {
    gap: 20px;
}

picture {
    margin: 0;
}

picture img {
    width: 100%;
    height: auto;
    display: block;
}

.photos p {
    font-size: 12px;
    font-style: italic;
}

/* calendar css */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #D7816A;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #102542;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0 0 30px 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #102542;
}


.days li .active {
    padding: 5px;
    background: #D7816A;
    color: black;
}