@media only screen and (min-width: 640px) {
    nav ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;

    }

    .navigation {
        display: block;
    }

    #menu {
        display: none;
    }

    #grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    #grid section {
        box-shadow: 1px 1px 1px black;
    }
}